@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.cursive{
  font-family: 'Satisfy', cursive;
}
.cursive2{
  font-family: 'Satisfy', cursive;
}
.cursive3{
  font-family: 'Satisfy', cursive;
  color:#FFD369;
}
.cursive2:hover{
  color: #FFD369;
}
.yazi{
  font-family: 'Rubik', sans-serif;
  font-size:large;
  font: bolder;
}
.yazi2{
  color:#FFD369;
}
.yazi:hover{
  color: #FFD369;
}

.prose{
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

a.twitter {
  color: #49a1eb;
}
a.github{
  color: black;
}
a.github2{
  color:#EEEEEE;
}
a.linkedin{
  color:darkblue;
}
a.instagram{
  color:#fb3958;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

.bg-navbar{
  background-color: #EEEEEE;
}

.bg-portfolio{
  background-color: #393E46;
}

.bg-karanlik{
  background-color:#222831;
}






/* Button */
.btn1 {
  margin-top: 5px;
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color:#222831;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.btn1 .btn1span {
  color: #FFD369;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.btn1:hover {
  animation: btn1rotate 0.7s ease-in-out both;
}

.btn1:hover .btn1span {
  animation: btn1storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes btn1rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes btn1storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}